

{% load wagtailcore_tags %}

{% block body_class %}{{ page.title }}{% endblock %}

{% block content %}
    {{ page.body|richtext }}
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DoB</th>
          <th>Currency Balance</th>
          <th>Page visitis</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.date_of_birth }}</td>
                <td>{{ customer.currency_balance }}</td>
                <td>{{ customer.page_visitis }}</td>
            </tr>
        {% endfor %}
      </table>
{% endblock %}